body{
    text-align: center;
  width: 70px;
  height: 70px;
  background-image: url('thumbbig-1387524.JPG.png');
  background-size: cover; /* Ajusta a imagem para cobrir o elemento */
  background-repeat: no-repeat; /* Evita repetição da imagem */


}   